.message-box-name {
    color: #022851;
    font-weight: 600;
}

.message-box-edit {
    cursor: pointer;
    color: #022851;
    font-size: .95rem;
}

.edit-box {
    width: 95%;
}

.edit-box > input {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border: none;
    border-radius: 15px;
    background-color: rgb(235,235,235);
}

.edit-buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.edit-submit-btn, .edit-cancel-btn {
    width: fit-content;
    color: white;
    padding: 10px 18px;
    margin-left: 10px;
    border-radius: 25px;
    background: #022851;
}

.edit-cancel-btn {
    color: #022851;
    background: rgb(235,235,235);
}

.images-display {
    margin: 25px 0;
}

.image-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.image-list > div > img {
    cursor: pointer;
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 8px;
}

@media only screen and (max-width: 1055px) {
    .image-list {
        grid-template-columns: repeat(2, 1fr);
    }

    .image-list > div {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media only screen and (max-width: 792px) {
    .image-list {
        grid-template-columns: repeat(1, 1fr);
    }
}
